@import '~src/app/commons/styles/variables'
@import '~src/app/commons/styles/mixins'

.pack
  background: $white-color url('/assets/img/cat.png') no-repeat
  background-position-x: -4px
  background-position-y: 203px
  border: solid 4px $main-color
  border-radius: 12px
  clip-path: polygon(43px 0, 100% 0, 100% 107%, 0 107%, 0 43px)
  cursor: pointer
  display: block
  height: 472px
  margin: 0 40px
  outline: 0
  position: relative
  width: 312px

  &::before
    border: 20px solid transparent
    border-left: 20px solid $main-color
    border-top: 20px solid $main-color
    content: ''
    left: 0
    position: absolute
    top: 0

  &::after
    border-radius: 8px
    content: ''
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    width: 100%

  &_disabled
    border: 4px solid $disabled-color

    &::before
      border-left-color: $disabled-color
      border-top-color: $disabled-color

    &::after
      background: $disabled-color
      border-radius: 8px
      content: ''
      height: 100%
      left: 0
      opacity: .5
      position: absolute
      top: 0
      width: 100%

  &_mouseover
    border-color: $main-hover-color

    &::before
      border-left-color: $main-hover-color
      border-top-color: $main-hover-color

  &_selected
    border-color: $selected-color

    &::before
      border-left-color: $selected-color
      border-top-color: $selected-color

  &_mouseover-selected
    border-color: $selected-hover-color

    &::before
      border-left-color: $selected-hover-color
      border-top-color: $selected-hover-color

  &__input
    display: none

  &__text
    font(16, $text-color, false, 16, 400)
    margin: 19px 0 0 44px

    &_disabled
      color: $disabled-color

    &_mouseover
      color: $selected-hover-color

  &__title
    font(48, $black-color, false, false, 700)
    margin: 6px 0 0 42px

    &_disabled
      color: $disabled-color

  &__consist
    font(24, $black-color, false, false, 700)
    margin: -2px 0 15px 44px

    &_disabled
      color: $disabled-color

  &__detailed
    font(14, $text-color, false, 16, 400)
    margin: 0 0 0 22px

    &_disabled
      color: $disabled-color

    &_num
      font-weight: 700

  &__oval
    background-color: $main-color
    border-radius: 50%
    bottom: 11px
    height: 81px
    margin: auto
    position: absolute
    right: 11px
    width: 81px

    &_disabled
      background-color: $disabled-color

    &_mouseover
      background-color: $main-hover-color

    &_selected
      background-color: $selected-color

    &_mouseover-selected
      background-color: $selected-hover-color

  &__mass
    font(42, $white-color, false, 22, 400)
    margin: 21px 0 0
    text-align: center

    &_measure
      font-size: 21px
      margin: 8px 0 0

  &__info
    margin: 14px auto
    width: 320px

  &__info-text
    font(13, $white-color, false, 16, 400)
    margin: 0
    text-align: center
    text-shadow: 0 1px 0 $black-color
    width: 320px

    &_btn
      color: $main-color
      cursor: pointer
      text-decoration: underline dashed $main-color

    &_disabled
      color: $disabled-text-color

    &_mouseover
      color: $main-hover-color
      text-decoration: underline dashed $main-hover-color

@media (max-width: 600px)
  .pack
    margin: 0
