@import '~src/app/commons/styles/variables'
@import '~src/app/commons/styles/mixins'

.header

  &__title
    font(36, $white-color, false, false, 400)
    font-family: "Exo 2.0- Thin", sans-serif
    text-align: center
    text-shadow: 0 1px 0 $black-color
    width: 100%
    margin: 37px 0 23px
