.header

  &__title
    width 100%
    text-align center
    text-shadow 0 1px 0 black-color
    color white-color
    font-family "Exo 2.0- Thin", sans-serif
    font-size 36px
    font-weight 400

.test
  font(12, red, false, 12, false)
  font-family "Exo 2.0- Thin", sans-serif
