@font-face
  font-family: "Exo 2.0- Thin"
  font-weight: normal
  src: url("~src/assets/fonts/exo20_Thin.otf") format("opentype")

@font-face
  font-family: "Trebuchet MS"
  font-weight: normal
  src: url("~src/assets/fonts/trebuc.ttf") format("truetype")

@font-face
  font-family: "Trebuchet MS"
  font-weight: bold
  src: url('~src/assets/fonts/trebuc.ttf') format("truetype")
