$black-color = #000
$white-color = #fff
$main-color = #1698d9
$main-hover-color = #2ea8e6
$disabled-color = #b3b3b3
$text-color = #666
$disabled-text-color = #ff6
$selected-color = #d91667
$selected-hover-color = #e62e7a
