@import '~src/app/commons/styles/variables.styl'
@import '~src/app/commons/styles/mixins.styl'
@import '~src/app/commons/styles/fonts.styl'
@import '~src/app/commons/styles/common.styl'

@import '~src/app/components/header/header.component.styl'
@import '~src/app/app.component.styl'
